body,td,a,div,p {
	font-family: arial, sans-serif;
	font-size: 12px;
}

div,td {
	color: #000000;
}

a:link,.w,.w a:link {
	color: #0000cc;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

.gwt-pulsatinghyperlink a {
	padding: 0px 6px;
	font-size: 12px;
}

.gwt-Tree table {
}

.gwt-TreeItem {
	padding: 2px 6px 1px;
}

.gwt-TreeItem-selected {
	background-color: highlight;
	color: highlighttext;
}

.gwt-ftptree {
	width: 100%;/*350px;*/
}

.gwt-ftptreeitem .gwt-TreeItem {
	padding-left: 26px;
	height: 16px;
	cursor: default;
}

.gwt-ftptreeitem-d .gwt-TreeItem {
	background-image: url('images/folder.gif');
	background-position: 1px center;
	background-repeat: no-repeat;
}

.ftp-popuppanel {
	background-color: white;
	border-color: darkblue;
	border-width: 3px;
	border-style: solid;
}

.ftpconnections-menubar {
	width: 125px;
	cursor: pointer;
}

.ftpconnections-menuitem {
}

.ftpconnections-submenubar {
	background-color: #e2e2e2;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	cursor: pointer;
}

.gwt-itemselectgrid {
	cursor: pointer;
}

.ftp-itemselectgrid {
	width: 100%;/*150px;*/
}

.gwt-itemselectgrid-item-hover {
	background-color: lightgray;
}

.gwt-itemselectgrid-item-selected {
	background-color: highlight;
	color: highlighttext;
}

.gwt-itemselectgrid-item-selected td {
	color: highlighttext;
}