body,td,a,div,p {
	font-family: arial, sans-serif;
	font-size: 12px;
}

div,td {
	color: #000000;
}

a:link,.w,.w a:link {
	color: #0000cc;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

.gwt-pulsatinghyperlink a {
	padding: 0px 6px;
	font-size: 12px;
}

.gwt-Tree table {
}

.gwt-TreeItem {
	padding: 2px 6px 1px;
}

.gwt-TreeItem-selected {
	background-color: highlight;
	color: highlighttext;
}

.gwt-ftptree {
	width: 100%;/*350px;*/
}

.gwt-ftptreeitem .gwt-TreeItem {
	padding-left: 26px;
	height: 16px;
	cursor: default;
}

.gwt-ftptreeitem-d .gwt-TreeItem {
	background-image: url('images/folder.gif');
	background-position: 1px center;
	background-repeat: no-repeat;
}

.ftp-popuppanel {
	background-color: white;
	border-color: darkblue;
	border-width: 3px;
	border-style: solid;
}

.gwt-MenuBar {
	cursor: pointer;
	background-color: rgb(236, 233, 216); /* Windows menubar color */
	border-width: 1px;
	border-color: rgb(172, 168, 153); /* Windows menubar border color */;
	border-style: solid;
}

.ftpbrowser-menubar {
}

.ftpbrowser-menuitem span {
	background-image: url("images/black-down-arrow.gif");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 14px;
}

.ftpbrowser-menuitem a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	color: black;
	border-width: 1px;
	border-style: solid;
	border-color: transparent;
	padding: 3px;
}

.ftpbrowser-menuitem a:hover {
	background-color: rgb(245, 242, 228);
	border-color: #999;
}

.ftpconnections-menubar {
	width: 125px;
	background-color: white;
}

.ftpconnections-menuitem {
}

.ftpconnections-submenubar {
	background-color: white;
}

.gwt-itemselectgrid {
	cursor: pointer;
}

.ftp-itemselectgrid {
	width: 100%;/*150px;*/
}

.gwt-itemselectgrid-item-hover {
	background-color: lightgray;
}

.gwt-itemselectgrid-item-selected {
	background-color: highlight;
	color: highlighttext;
}

.gwt-itemselectgrid-item-selected td {
	color: highlighttext;
}

.cc-filegroupwidget td {
	font-family: Monaco, ProFontWindows, "lucida console", monospace;
}

/* \*/
 * html .gainlayout { height: 1%; }
/* */



/* basic progress bar */

.progressbar-text {
	font-weight: bold;
}

.progressbar-remaining {
	font-size: 12px;
	font-style: italic;
}

.progressbar-outer {
	border: 1px solid black;
}

.progressbar-inner {
	border: 1px solid black;
	margin: 1px;
}

.progressbar-bar {
	width: 5px;
	height: 15px;
	margin: 1px;
}

.progressbar-fullbar {
	background: blue;
}

.progressbar-blankbar {
	background: #eee;
}



/* example solid bar */

.progressbar-solid .progressbar-bar {
	margin: 0px;
}


/* example of no border */

.progressbar-noborder .progressbar-outer {
	border: none;
}

.progressbar-noborder .progressbar-inner {
	border: none;
}

