body,td,a,div,.p {
	font-family: arial, sans-serif;
	font-size: 73%;
}

div,td {
	color: #000000;
}

a:link,.w,.w a:link {
	color: #0000cc;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

.ftp-popuppanel {
	background-color: white;
	border-color: darkblue;
	border-size: 1px;
	border-style: solid;
	padding: 10px;
}

.ftpconnections-menubar {
	width: 200px;
	cursor: pointer;
}

.ftpconnections-menuitem {
}

.ftpconnections-submenubar {
	background-color: #e2e2e2;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	cursor: pointer;
}

.gwt-ftptree {
	width: 350px;
}

.gwt-itemselectgrid {
	cursor: pointer;
}

.ftp-itemselectgrid {
	width: 150px;
}

.gwt-itemselectgrid-item-hover {
	background-color: lightgray;
}

.gwt-itemselectgrid-item-selected {
	background-color: highlight;
	color: highlighttext;
}

.gwt-itemselectgrid-item-selected td {
{
	color: highlighttext;
}